<div style="position: relative;">
  <%= image_tag "https://c4.wallpaperflare.com/wallpaper/690/636/859/flight-takeoff-hd-airport-runway-wallpaper-preview.jpg", class: "mx-auto d-block", style: "max-width: 1350px;" %>
  <h1 class="col-md-12 text-center" style="position: absolute; top: 7%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 40px;">Welcome To BookMyFlight</h1>
</div>



<p> Book MyFlight is a user-friendly online platform that allows travelers to easily search, compare, and book flights to their desired destinations. With a wide range of flight options and competitive prices, Book MyFlight provides an efficient and hassle-free way to plan and book your next trip.In addition to flight bookings, Book MyFlight also offers a variety of other travel services such as hotel reservations, car rentals, and travel insurance. The website is designed to provide a seamless user experience, with a simple and intuitive interface that enables users to easily navigate through the site and make bookings quickly and securely. Whether you're planning a business trip, a family vacation, or a solo adventure, Book MyFlight has everything you need to make your travel experience a smooth and enjoyable one.</p>