<h1>All Passengers</h1>
<ul>
	<% @passengers.each do |passenger| %>
		<li>
			<%= link_to passenger.first_name, passenger %>
			 </li>
		<% end %>
</ul>

<%= link_to "New Passenger" , new_passenger_path %>
